*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
 
}

.sidebar{
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    /* background: rgba( 255, 255, 255, 0.25 ); */
    /* background: #0E0A4D; */
    background: radial-gradient(89.5% 89.5% at 18.65% 4.89%, rgba(201, 196, 255, 0.36) 0%, rgba(196, 196, 196, 0.06) 100%);

    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    padding: 6px 14px;
    position:fixed; 
    /* padding-bottom: 20px; */

}

#svg{
    /* height: 200px; */
    padding-top: 50px;
    padding-left: 53px;
    align-items: center;
    justify-content: center;
    /* size: 50px; */
}

.sidebar .logo_content .logo{
    color: whitesmoke;
    display: block;
    height: 50px;
    width: 100%;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;

}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    /* padding-bottom: 30px; */
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
    padding-left: 26px;
    padding-bottom: 50px;
    padding-top: 40px;
    display: block;
    position: fixed;
    font-family: 'Noto Sans', sans-serif;
}

.siderbar #btn{
    color: black;
    position: absolute;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    /* padding-top: 20px; */
}

.sidebar ul{
    margin-top: 80px;

}

.sidebar  ul li{
    list-style: none;
    height: 50px;
    position: relative;
    margin: 0 5px ;
    line-height: 50px;
    top: 70px;
    padding-top: 20px;
    font-family: 'Noto Sans', sans-serif;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    width: 122px;
    height: 35px;
    background-color: whitesmoke;
    box-shadow:0 5px 10px rgba(0,0,0,0.2) ;
    top:100%;
    transform: translateY(-8%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    top: 50%;
    opacity: 1;
    /* top: 50%; */
}

.sidebar ul li a{
    color: whitesmoke;
    display: flex;
    align-items: center;
    text-decoration: none;
    transform: all 0.4s ease ;
    border-radius: 12px;
    /* padding-top: 40px; */
}

.sidebar ul li a:hover{
    color: #11101d;
    background: whitesmoke;
    /* padding-top: 40px; */

}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;

}

.container{
    background-color:#0E0A4D;
    padding-bottom: 100px;
    padding-top: 50px;
}

.container h1{
    border-radius: 15px 15px 0 0;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    /* margin-top: 200px; */
    margin-left: 400px;
    height: 80px;
    width: 900px;
    padding-left: 350px;
    padding-top: 20px;
    background: -webkit-linear-gradient(#E94F11,#FF725E);
    
}

.container h1.lead{
    border-radius: 15px 15px 0 0;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    /* margin-top: 200px; */
    margin-left: 400px;
    height: 80px;
    width: 900px;
    padding-left: 380px;
    padding-top: 20px;
    background: -webkit-linear-gradient(#E94F11,#FF725E);
    
}

.baten{
    border-radius:0 0 15px 15px ;

    font-family: 'Noto Sans', sans-serif;
    color: white;
    margin-left: 400px;
    /* height: 80px; */
    width: 900px;
    /* padding-left: 350px; */
    padding-bottom: 15px;
    padding-top: 30px;
    background-color: beige;  
    /* display: flex; */
    /* justify-content: space-between; */
    /* padding-right: 100px;
    padding-left: 80px; */
    /* padding-bottom: 40px; */
    background: radial-gradient(89.5% 89.5% at 18.65% 4.89%, rgba(201, 196, 255, 0.36) 0%, rgba(196, 196, 196, 0.06) 100%);

}

.baten .banten{
    display: flex;
    padding-right: 100px;
    padding-left: 80px;
    justify-content: space-between;
}

.baten .banten button{
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    height: 60px;
    width: 130px;
    justify-content: space-between;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    /* background: linear-gradient( rgba( 255, 255, 255, 0.25 ),#0E0A4D);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px ); */
    background-color: transparent;
    border: 1px solid white;
    
}

.baten .banten button:hover{
    background: -webkit-linear-gradient(#E94F11,#FF725E);
    border: 1px solid white
}


.konten{
    padding-top: 25px;
    /* margin-left: 400px; */
    height: 55px;
    width: 900px;
    /* padding-right: 700px; */
    padding-left: 50px;
    /* padding-top: 20px; */
    /* background-color: beige; */
    display: flex;
    /* justify-content:space-between,50px; */
    text-align: left;
    
    
}

.konten #ini{
    padding-left: 30px;
    
}

.filter{
    /* padding-left: 400px;
    padding-right: 200px; */
    padding-top: 50px;
    /* margin-bottom: 70px; */
    padding-bottom: 30px;
    background-color: #0E0A4D;
}

.filter .search{
    margin: 10px 250px 10px 1050px;
    /* margin-right: 20px; */
    border: 3px solid white;
    border-radius: 50px;
    /* padding-right: 40px; */
    display: flex;
    background-color: transparent;
    padding: 4px;
    font-family: 'Noto Sans', sans-serif;
    color: white;

}

.cari{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    background-color: transparent;
    font-family: 'Noto Sans', sans-serif;

}

.cari:focus{
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 10px;
}

.cari::placeholder{
    color: white;
    padding-left: 10px;
    /* opacity: 0; */
}

.cari:focus::placeholder{
    opacity: 0;

}
